// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

$basic1: #f0f0f0;
$basic2: #666;

$active: #0093d7;

$slider-color1: #ffc815;
$slider-color2: #a3cd3b;


// FONTS

// шрифты в fonts.scss
